<% layout('layout/page') -%>

<% block('title', 'Клиенты'); -%>

  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/clients">Клиенты</a></li>
    <li role="presentation"><a href="/newclientn">Физическое лицо</a></li>
    <li role="presentation"><a href="/newclientj">Юридичекте лицо</a></li>
  </ul>

  <table class="table clients">
    <thead>
      <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Фамилия</th>
        <th>Дата рождения</th>
        <th>Электронная почта</th>
      </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < clients.length; i++) { %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= clients[i].name || ''%></td>
          <td><%= clients[i].secondname || ''%></td>
          <td><%= clients[i].surname || ''%></td>
          <td><%= clients[i].dateOfBirth || '' %></td>
          <td><%= clients[i].email || '' %></td>
        </tr>
        <% } %>
    </tbody>
  </table>